<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    
</head>
<body>


  <div>
    {% include "navbar.html" %}
    
                    
    {% block content %} {% endblock content %}
        
  </div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv1.min.js"></script>
<script>

  ignore_url = ["http://192.168.1.15:8500/analytics/dashboard/"]
  // var storedStartTime = localStorage.getItem('startTime')
  var currentPage = window.location.href
  // var startTime = storedStartTime ? parseFloat(storedStartTime) : performance.now();
  var startTime =  performance.now()
  // localStorage.setItem('startTime', startTime.toString());
  
  // function getMacAddressCookie() {
  //   var cookies = document.cookie.split(';');
  //   for (var i = 0; i < cookies.length; i++) {
  //       var cookie = cookies[i].trim();
  //       if (cookie.indexOf('mac_address=') === 0) {
  //           return cookie.substring('mac_address='.length, cookie.length);
  //         }
  //     }
  //     return null;
  // }

  // var macAddress = getMacAddressCookie();
  // if (macAddress) {
  //   console.log("through cookie",macAddress); // Use the MAC address value as needed
  // } else {
  //   console.log('MAC address cookie not found');
  // }

  //   // Generate UUID
  // function generateUUID() {
  //   let d = new Date().getTime();
  //   const uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
  //     const r = (d + Math.random() * 16) % 16 | 0;
  //     d = Math.floor(d / 16);
  //     return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
  //   });
  //   return uuid;
  // }

  // // Set the UUID as a cookie
  // function setCookie(name, value, days) {
  //   const expires = new Date();
  //   expires.setTime(expires.getTime() + (days * 24 * 60 * 60 * 1000));
  //   document.cookie = name + '=' + value + ';expires=' + expires.toUTCString() + ';path=/';
  // }

  // // Generate UUID and set it as a cookie
  // const mac_address = generateUUID();
  // setCookie('mac_address', mac_address, 365);

  // console.log("new mac address is generated",mac_address);

  function getCookie(name) {
    const cookies = document.cookie.split(';');
    for (const cookie of cookies) {
      const [cookieName, cookieValue] = cookie.trim().split('=');
      if (cookieName === name) {
        return cookieValue;
      }
    }
    return null;
  }

  function generateUUID() {
    let d = new Date().getTime();
    const uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      const r = (d + Math.random() * 16) % 16 | 0;
      d = Math.floor(d / 16);
      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
    });
    return uuid;
  }

  var macAddress = getCookie('mac_address');

  if (!macAddress) {
    const newMacAddress = generateUUID();
    console.log("Newly generated MAC address:", newMacAddress);

    const expirationDays = 365;
    const expires = new Date();
    expires.setTime(expires.getTime() + (expirationDays * 24 * 60 * 60 * 1000));  
    const cookieValue = `mac_address=${newMacAddress};expires=${expires.toUTCString()};path=/`;
    document.cookie = cookieValue;
    var macAddress = getCookie('mac_address');
  }

  console.log("mac_Address is",macAddress)

  function sendData(url, time){
    console.log("sendData")
    if (time > 2 && !ignore_url.includes(url)){
      if(navigator.sendBeacon){
        console.log("beacon call")
        var formData = new FormData();
        formData.append('url',url)
        formData.append('duration',time)
        formData.append('mac_address',macAddress)
        // var data = JSON.stringify({url: url, duration: time});
        navigator.sendBeacon('{% url "analytics_data" %}', formData)
      }else{
        console.log("http callded")
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url "analytics_data" %}', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(data);
      }
    }
  }



  window.addEventListener('visibilitychange', function(){
    if(document.visibilityState === "hidden"){
      var totalTime = Math.round((performance.now() - startTime)/1000);
      console.log("visibilitychange",totalTime)
      sendData(currentPage, totalTime);
      startTime = performance.now()
      // localStorage.removeItem('startTime');
    }
  })


</script>
</body>
</html>