
{% extends "base.html"%}
{% block content %}

<section>
    <div class="row offset-md-1">
        <div class="col-5">Total duration ({{total_duration_sum}})</div>
        <div class="col-5">Total Ip_address ({{total_address}})</div>
        {% comment %} <div class="col-4">gfhhfh</div> {% endcomment %}
    </div>
    <div>
        <div class="row py-5">
            <div class="col-md-10 offset-md-1">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Page Name</th>
                        <th>Duration</th>
                        <th>Hit Count</th>
                        <th>Exit Count</th>
                    </tr>
                    {% for page in page_name_hit_exit %}
                    <tr>
                        <td>
                            <a href="{{page.url}}">{{ page.url}} </a> 
                        </td>
                        <td>{{ page.duration}}</td>
                        <td>{{ page.hit}}</td>
                        <td>{{ page.exit}}</td>
                    </tr>
                    {% endfor %}
        
                </table>
            </div>
        </div>
       
        <div class="row py-5">
            <div class="col-md-10 offset-md-1">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Ip_address</th>
                        <th>Total Duration</th>
                        <th>Date</th>
                        <th>Browser</th>
                    </tr>
                    {% for user in user_activity %}
                    <tr>
                        <td> <a href="{% url 'journey' %}?ip_address={{user.ip_address}}&date={{user.date|date:'Y-m-d'}}">  {{ user.ip_address}} </a></td>
                        <td>{{ user.duration_sum}}</td>
                        <td>{{ user.date|date:'Y-m-d'}}</td>
                        <td>{{ user.browser}}</td>
                    </tr>
                    {% endfor %}
        
                </table>
            </div>
        </div>
        
    </div>
</section>

{% endblock content%}