{% extends "base.html"%}
{% block content %}

<section>
    <div class="row offset-md-1">
        {% comment %} <div class="col-5">Total duration ({{total_duration_sum}})</div> {% endcomment %}
        {% comment %} <div class="col-5">Ip_address ({{total_address}})</div> {% endcomment %}
        {% comment %} <div class="col-4">gfhhfh</div> {% endcomment %}
    </div>
    <div>
        <div class="row py-5">
            <div class="col-md-10 offset-md-1">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Ip_address</th>
                        <th>Duration</th>
                        <th>Timestamp</th>
                        <th>Url</th>
                        <th>Order</th>
                        <th>Type</th>
                    </tr>
                    {% for user in user_activity %}
                        <tr>
                            <td>{{ user.ip_address}}</td>
                            <td>{{ user.duration}}</td>
                            <td>{{ user.timestamp}}</td>
                            <td>{{ user.url}}</td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user.page_type }}</td>
                        </tr>
                    {% endfor %}
        
                </table>
            </div>
        </div>
        
    </div>
</section>

{% endblock content%}